<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy/MM/dd HH:mm:ss.SSS},%-5level,%X{ip},%class{0},%M,%X{PID},%msg%n</pattern>
		</layout>
	</appender>

	<logger name="ksaito" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>